---
---

@import "";

.bookmarklet-button {
  text-size: 1.25rem;
  display: flex;
  padding: 15px;
  justify-content: center;
  place-items: center;
  color: red;
  
  a {
    color: red;
    font-style: bold;
    
    &:hover{
      text-size: 1.5rem;
      color: blue;
    }
  }  
}
