---
---

@import "{{ site.theme }}";

.bookmarklet-button {
  text-size: 1.15rem;
  display: flex;
  padding: 25px 15px;
  justify-content: center;
  place-items: center;
  width: 300px;
  background: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #63dca3;
  
  &:hover {
    background: #63dca3;
    color: white;
  }
  
  a {
    padding-right: 4px;
    &:hover{
      font-size: 1.5rem;
      color: blue;
    }
  }  
}
