---
---

@import "{{ site.theme }}";

.bookmarklet-button {
  display: flex;
  padding: 20px 15px;
  justify-content: center;
  place-items: center;
  width: 428px;
  // background: #1491ffd1;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  
  a {
    font-size: 1.25rem;
    padding-right: 4px;
    
    &:hover{
      font-size: 1.4rem;
      transition: font-size 2s ease;
    }
  }    
}

// h1#hed{
//   margin-top: 0;
// 	line-height: 2.4;
// 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 10'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='rgba(0, 0, 0, 0.6)' stroke-width='2' class='squiggle' d='M0,4 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
// 	background-position: 0 100%;
// 	background-size: auto 15px;
//   background-repeat: repeat-x;
//   width: 79%;

//   @media screen and (max-width:934px) {
//     width: 48%;
//   }
// }

code {
  background: #f0f0f0;
  padding: 4px 6px;
  font-weight: 700;
  border-radius: 5px;
}

#copy-button {
  @extend .bookmarklet-button;
  width: 80px;
  margin-right: 5px;
  padding: 11px 12px;
  cursor: pointer;
  height: 50px;
}

.box {
  display: flex;
  flex-flow: column;
}

section {
  line-height: 1.55rem;
}

img {
  border-radius: 10px;
  max-width: 465px;

  &:hover{
    scale: 1.5;
    transition: scale 3s ease;
  }
}

#f12-icon {
  height: 42px;
  width: 42px;
  filter: invert(100);

  &:hover{
    scale: 1.2;
    transition: scale 1.5s ease;
  }
}

.copy-link {
  text-decoration: none;
  cursor: pointer;
}

textarea {
  border-radius: 10px;
  border: none;
  color: #4d4d4d;
  overflow-y: scroll;
  resize: none;
  // -webkit-padding-after: 8px;
  // -webkit-padding-before: 8px;
  // -webkit-padding-start: 8px;
  // -webkit-padding-end: 8px;
}

.tooltip-box {
  width: 430px;
  height: 72px;
  border-radius: 10px;
  display: flex;
  place-items: center;
}

span {
  color: #7b7b7b;
  font-size: 0.7rem;
  margin-left: 2px;
}

#scriptbox {
  display: flex;
  flex-flow: row;
  margin-bottom: 8px;
}

svg {
  filter: invert(100);
}

.inline-icon {
  text-align: bottom;
}

// thanks Ian Forrest: https://www.gradient-animator.com/
 .css-selector {
    background: linear-gradient(185deg, #1491ff, #1491ff, #141aff, #5714ff, #141aff, #1491ff, #1491ff);
    background-size: 1400% 1400%;

    -webkit-animation: buttongrad 53s ease infinite;
    -moz-animation: buttongrad 53s ease infinite;
    animation: buttongrad 53s ease infinite;
}

@-webkit-keyframes buttongrad {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes buttongrad {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes buttongrad {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}

/**
 * Tooltip Styles from Chris Bracco
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:    
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:         
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: rgb(90, 90, 90);
  background-color: hsla(0, 0%, 29%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}
