---
---

@import "{{ site.theme }}";

.bookmarklet-button {
  display: flex;
  padding: 25px 15px;
  justify-content: center;
  place-items: center;
  width: 300px;
  background: #1491ffd1;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  
  &:hover {
    background: #1491ff;
  }
  
  a {
    font-size: 1.25rem;
    padding-right: 4px;
  }  
  
}
