---
---

@import "{{ site.theme }}";

.bookmarklet-button {
  display: flex;
  padding: 20px 15px;
  justify-content: center;
  place-items: center;
  width: 325px;
  background: #1491ffd1;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  
  a {
    font-size: 1.25rem;
    padding-right: 4px;
    
    &:hover{
      font-size: 1.5rem;
      transition: font-size 2s ease;
    }
  }  
  
}

// thanks Ian Forrest: https://www.gradient-animator.com/
 .css-selector {
    background: linear-gradient(185deg, #1491ff, #1491ff, #141aff, #5714ff, #141aff, #1491ff, #1491ff);
    background-size: 1400% 1400%;

    -webkit-animation: buttongrad 53s ease infinite;
    -moz-animation: buttongrad 53s ease infinite;
    animation: buttongrad 53s ease infinite;
}

@-webkit-keyframes buttongrad {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes buttongrad {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes buttongrad {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
